Repository Kent-Madsen-Archived/api.portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: documentations, scripts, php, composer, npm, workflows, routes, databases, migrations, configurations

adding config files
  code/composer.lock
  code/package-lock.json
Labels: php, composer, npm

adding apache2 config files
  code/.htaccess
  code/public/.htaccess
  configuration/robots.txt
Labels: php, configurations

removing lfs
  .gitattributes
Labels: none

removing lfs
  configuration/.htaccesss
Labels: configurations

removing lfs
  configuration/.htaccess
Labels: configurations

removing lfs
  configuration/.envs.example
Labels: configurations

removing lfs
  configuration/.env.example
Labels: configurations

removing lfs
  code/.envs
Labels: php

removing lfs
  code/.envs
Labels: php

removing lfs
  code/.env
Labels: php

removing lfs
  code/package.json
Labels: php, npm

added phpunit
  code/phpunit.xml
Labels: php

env
  code/.env
Labels: php

.github/labeler.yml:

documentations:
  - 'docs/**/*'

scripts:
  - 'scripts/**/*'

php:
  - 'code/**/*'

composer:
  - 'code/composer.json'
  - 'code/composer.lock'

npm:
  - 'code/package.json'
  - 'code/package-lock.json'


workflows:
  - '.github/**/*'

routes:
  - 'code/routes/**/*'

databases:
  - 'code/database/**/*'

migrations:
  - 'code/database/migrations/**/*'

configurations:
  - 'code/config/**/*'
  - 'configuration/**/*'
